@model gym_management_system.Models.GymMember

@{
    ViewData["Title"] = "Member Details";
    // ViewData["CustomCss"] = "~/css/authViews.css";
}

<div class="text-center my-5 px-3 container">
    <h1>Zeus Gym - Member Details</h1>

    <section class="my-4 px-4 py-3 text-start custom-border-primary">
        <h2>Member Details</h2>
        @* member user details will be displayed here *@
        <p><strong>Member Email:</strong> @ViewBag.Member.Email</p>
        <p><strong>Member UserName:</strong> @ViewBag.Member.UserName</p>
        <p><strong>Member FullName:</strong> @ViewBag.Member.FullName</p>
        <p><strong>Member PhoneNumber:</strong> @ViewBag.Member.PhoneNumber</p>
        <p><strong>Member Address:</strong> @ViewBag.Member.Address</p>
        <p><strong>Member DateOfBirth:</strong> @ViewBag.Member.DateOfBirth.ToString("yyyy-MM-dd")</p>
    </section>

    <section class="my-4 px-4 py-3 text-start custom-border-primary">
        <h2>Member Subscription Details</h2>
        
        @* show current membership plan, being the latest date, if membership status MembershipStatusActive is active, otherwise show a state (inactive) next to the membership type MembershipType and the last date MembershipEndDate *@
        @if (ViewBag.MembershipCount > 0)
        {
            <div>
                <p><strong>Membership Type:</strong> @ViewBag.LatestMembership.MembershipType</p>
                <p><strong>Membership Status:</strong> @ViewBag.LatestMembership.MembershipStatus</p>
                <p><strong>Membership Start Date:</strong> @ViewBag.LatestMembership.MembershipStartDate.ToString("yyyy-MM-dd")</p>
                <p><strong>Membership End Date:</strong> @ViewBag.LatestMembership.MembershipEndDate.ToString("yyyy-MM-dd")</p>
            </div>
        }
        else
        {
            <div>
                <h5>Last Membership</h5>
                <p><strong>Membership Type:</strong> No Membership</p>
                <p><strong>Membership Status:</strong> No Membership</p>
                <p><strong>Membership Start Date:</strong> No Membership</p>
                <p><strong>Membership End Date:</strong> No Membership</p>
            </div>
        }
        
    </section>

    <section class="my-4 px-4 py-3 text-start custom-border-primary">
        <h2>Member BioMetrics Details</h2>
    </section>

    <section class="my-4 px-4 py-3 text-start custom-border-primary">
        <h2>Member Bills Details</h2>
    </section>
            
</div>
